@model eShop.ViewModels.Sales.Order.OrderDeleteRequest

@{
    ViewData["Title"] = "Xoá đơn hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Xoá đơn hàng</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">Xoá</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div>
                    <a class="btn btn-success" asp-action="Delete" asp-controller="Order">Về Danh Sách</a>
                </div>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Id)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Id)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ShipName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ShipName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ShipAddress)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ShipAddress)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ShipEmail)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ShipEmail)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ShipPhoneNumber)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ShipPhoneNumber)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <input asp-for="Id" type="hidden" />
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    <a class="btn btn-default" asp-action="Index">Quay lại</a>
                </form>
            </div>
        </div>
    </section>
</div>