@model CheckoutViewModel
@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@{ var culture = CultureInfo.CurrentCulture.Name; }

@section scripts{

    <script src="~/js/HiddenSibar.min.js"></script>
    <script>
        var hidden = new Hidden();
        hidden.initialize();
    </script>
    <script src="~/js/cart.min.js"></script>

    <script>
        var cartController = new CartController();
        cartController.initialize();
    </script>
}
<div class="col-sm-12 padding-right">
    <section id="cart_items">
        <div class="container">
            <div class="breadcrumbs">
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active">Check out</li>
                </ol>
            </div><!--/breadcrums-->
            @if (TempData["SuccessMsg"] != null)
            {
                <span class="alert alert-success">@TempData["SuccessMsg"]</span>
            }
            else
            {

                <div class="step-one">
                    <h2 class="heading">Step1</h2>
                </div>
                <div class="checkout-options">
                    <h3>New User</h3>
                    <p>Checkout options</p>

                    <ul class="nav">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                <label><input type="checkbox" id="chkUserLoginInfo"> Sử dụng thông tin đăng nhập</label>
                            </li>
                        }

                        <li>
                            <label><input type="checkbox"> Guest Checkout</label>
                        </li>
                        <li>
                            <a href=""><i class="fa fa-times"></i>Cancel</a>
                        </li>
                    </ul>
                </div><!--/checkout-options-->

                <div class="register-req">
                    <p>Vui lòng sử dụng Đăng ký và Thanh toán để dễ dàng truy cập vào lịch sử đơn đặt hàng của bạn hoặc sử dụng Thanh toán với tư cách Khách</p>
                </div><!--/register-req-->

                <div class="shopper-informations">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="shopper-info">
                                <form class="form-horizontal" asp-action="Checkout" asp-controller="Cart" method="post">
                                    <input asp-for="CheckoutModel.UserId" type="hidden">
                                    <input asp-for="CheckoutModel.ShipName" required id="txtName" type="text" placeholder="Tên">
                                    <input asp-for="CheckoutModel.ShipEmail" required id="txtEmail" type="email" placeholder="Email">
                                    <input asp-for="CheckoutModel.ShipAddress" required type="text" placeholder="Địa chỉ">
                                    <input asp-for="CheckoutModel.ShipPhoneNumber" required id="txtPhone" type="number" placeholder="Số điện thoại">

                                    <button type="submit" class="btn btn-primary">Purchase</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="review-payment">
                    <h2>Review & Payment</h2>
                </div>

                <div class="table-responsive cart_info">
                    <table class="table table-condensed">
                        <thead>
                            <tr class="cart_menu">
                                <td class="image">Product</td>
                                <td class="description">description</td>
                                <td class="price">Price</td>
                                <td class="quantity">Quantity</td>
                                <td class="total">Total</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.CartItems)
                            {
                                <tr>
                                    <td class="cart_product">
                                        <a href=""><img width="60" src="@(Configuration["BaseAddress"] + item.Image)" alt="@item.Name"></a>
                                    </td>
                                    <td class="cart_description">
                                        <h4><a href="">@item.Description</a></h4>
                                    </td>
                                    <td class="cart_price">
                                        <p>$@item.Price</p>
                                    </td>
                                    <td class="cart_quantity">
                                        <input class="cart_quantity_input" type="text" disabled name="Quantity" value="@item.Quantity" autocomplete="off" size="2">
                                    </td>
                                    <td class="cart_total">
                                        <p class="cart_total_price">$@(item.Quantity*item.Price)</p>
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td colspan="2">&nbsp;</td>
                                <td colspan="4">
                                    <table class="table table-condensed total-result">
                                        <tbody>
                                            <tr class="shipping-cost">
                                                <td>Phí vận chuyển</td>
                                                <td>Miễn phí</td>
                                            </tr>
                                            <tr>
                                                <td>Total</td>
                                                <td><span>$@Model.CartItems.Sum(x => x.Quantity * x.Price).ToString("N0")</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                @*<div class="payment-options">
                        <span>
                            <label><input type="checkbox"> Direct Bank Transfer</label>
                        </span>
                        <span>
                            <label><input type="checkbox"> Check Payment</label>
                        </span>
                        <span>
                            <label><input type="checkbox"> Paypal</label>
                        </span>
                    </div>*@
            }
        </div>
    </section> <!--/#cart_items-->
</div>